body{
    background-image: url("restuarent.jpg");
    background-size: cover;
}


#navbar-bg{
    background-color:Black;
}

#logo-text{
    color:deeppink;
}
.nav-item-hover a:hover{
    color:deeppink !important;
}
.dropdown-item-hover a:hover{
    color:deeppink;
}
.nav-item-text-color{
    color: white!important;
}
.btn-outline-success {
    color: deeppink !important;
    border-color: deeppink !important;

}
.btn:hover{
    color: deeppink !important;
}
.btn-outline-success:hover{
    color:white !important;
  background-color: deeppink !important;
}
 /*navbar ends */


